# Development
.vscode/
.idea/
*.log
.gemini/
.agent/
ZAP by Checkmarx Scanning Report2.html
ZAP by Checkmarx Scanning Report2_files/

# Environment
.env
contribution-backend/.env
contribution-frontend/.env
